[user]
	name = Scott Lai
	email = tuonglai3602@gmail.com
[pull]
	rebase = true
[init]
	defaultBranch = main
[alias]
	lol = log --oneline --decorate --graph
	stat = "!f() { git diff --stat --merge-base ${1:-$(git config init.defaultBranch)}; }; f"
	bf = branch --format='%(HEAD) %(if)%(HEAD)%(then)%(color:bold green)%(end)%(refname:short)%(color:reset): %(color:yellow)%(subject) %(color:cyan)<%(authorname)> %(color:red)(%(committerdate:relative))' --sort=-committerdate
	uncommit = "!f() { git reset --soft ${1:-HEAD~}; }; f"
	unstage = reset HEAD
	standup = "!git log --reverse --since=yesterday --pretty='%s' --author=$(git config --get user.email)"
	unfuck = reset --hard HEAD
[rebase]
	autoStash = true
