[user]
	name = Scott Lai
	email = tuonglai3602@gmail.com

[init]
	defaultBranch = main

[diff]
	algorithm = histogram
	mnemonicprefix = true

[pull]
	rebase = true
	ff = only

[push]
	autoSetupRemote = true

[rebase]
	autoStash = true

[fetch]
	prune = true

[format]
	pretty = %C(yellow bold)%h%C(reset)%C(auto)%d%C(reset) %s %Cgreen(%cr) %C(bold blue)<%an>%Creset

[merge]
	conflictStyle = diff3
	tool = nvimdiff

[alias]
	lol = log --graph --decorate

	stat = "!f() { git diff --stat $(git merge-base HEAD ${1:-origin/HEAD}); }; f"

	bf = branch --format='%(color:bold yellow)%(HEAD) %(if)%(HEAD)%(then)%(color:yellow)%(else)%(color:nobold)%(end)%(refname:short)%(color:reset) %(subject) %(color:green nobold)(%(committerdate:relative)) %(color:bold blue)<%(authorname)>' --sort=-committerdate

	uncommit = "!f() { git reset --soft ${1:-HEAD~}; }; f"

	unstage = reset HEAD

	standup = "!git log --reverse --since=yesterday --pretty='%s' --author=$(git config --get user.email)"

	unfuck = reset --hard HEAD

	review = "!f() { local dest_branch=${1:-origin/HEAD}; nvim -p $(git diff --name-only $(git merge-base HEAD $dest_branch)) -c \"tabdo Gvdiffsplit $dest_branch | wincmd r | wincmd l\" -c \"call feedkeys('1gt')\"; }; f"

	# pass dummy arg foo to pass rest of argument to function
	# https://stackoverflow.com/questions/46435606/how-to-use-a-bash-function-in-a-git-alias#comment79829519_46435837
	logf = "!zsh -ic \"_git_logf $@\" dummy"

	reflogf = "!zsh -ic \"_git_reflogf $@\" dummy"

[mergetool "nvimdiff"]
	cmd = nvim -d -c 'wincmd l' "$LOCAL" "$MERGED" "$REMOTE"

[mergetool]
	keepBackup = false
	prompt = true
