[user]
	name = Scott Lai
	email = tuonglai3602@gmail.com
[pull]
	rebase = false
[init]
	defaultBranch = master
[alias]
	lol = log --oneline --decorate --graph
	stat = "!f() { git diff --stat --merge-base ${1:-$(git config init.defaultBranch)}; }; f"
	bf = branch --format='%(HEAD) %(if)%(HEAD)%(then)%(color:bold green)%(end)%(refname:short)%(color:reset): %(color:yellow)%(objectname:short) %(color:cyan)<%(authorname)> %(color:red)(%(committerdate:relative))' --sort=-committerdate
	uncommit = "!f() { git reset --soft ${1:-HEAD~}; }; f"
	unstage = reset HEAD
